/* line 23, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 30, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
body {
  background-color: #f7f2dd !important;
}

/* line 35, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
section nav {
  background-color: #f7f2dd !important;
}

/* line 38, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
section nav div {
  margin: auto;
  padding: auto;
}

/* line 43, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
section nav img {
  border-radius: 90px;
}

/* line 49, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.btn-outline-success {
  color: black !important;
  font-family: "Montserrat", sans-serif;
}

/* line 55, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.btn-outline-success:hover {
  background-color: #6d8666 !important;
  color: white !important;
}

/* line 60, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.nav-link {
  color: #6d8666 !important;
  font-size: 20px !important;
  font-family: "Montserrat", sans-serif;
}

/* line 66, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.form-control {
  border: dotted #6d8666 !important;
  background-color: #f7f2dd !important;
}

/* line 71, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#sobreMi,
#nuestrasRecetas {
  padding: 30px 60px 30px 60px;
  font-family: "Montserrat", sans-serif !important;
}

/* line 77, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
h3 {
  text-align: center;
  color: #6d8666;
  font-family: "Montserrat", sans-serif;
}

/* line 83, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: auto;
}

/* line 92, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
input[type=text] {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px dashed #6d8666;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

/* line 96, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
select {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px dashed #6d8666;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

/* line 100, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
textarea {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px dashed #6d8666;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

/* line 105, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
input[type=submit] {
  border-radius: 10px;
  border: 1px solid #6d8666;
  font-size: 15px;
  background: #d5e8d4;
  width: 100%;
  height: 40px;
}

/* line 115, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
input[type=submit]:hover {
  background-color: #465f47;
}

/* line 119, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#formulario {
  border-radius: 5px;
  background-color: #d5e8d4;
  padding: 20px;
  margin: auto;
}

/* line 126, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer {
  display: flex;
  padding: 10px;
  background-color: #adc9ae;
}

/* line 131, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer ul {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-basis: 20%;
  text-decoration: none;
}

/* line 139, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer p {
  flex-basis: 80%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/* line 145, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer li {
  flex-grow: 1;
}

/* line 149, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer a {
  color: darkslategrey;
  font-size: 20px;
}

/* line 154, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footerhover {
  color: #465f47;
}

/* line 160, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
select option {
  background-color: #6d8666 !important;
  color: white;
}

/* line 166, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
select:hover {
  color: white;
  background: #465f47;
}

/* line 171, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.logo:hover {
  height: 120px;
  width: auto;
}

/* line 176, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#img__logo {
  display: block;
  margin: auto;
}

/* line 182, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.ebookHover:hover {
  width: 300px !important;
}

/* line 187, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#h1Centrado {
  display: block;
  text-align: center;
  margin: auto;
  padding: 20px 10px 5px 10px;
  color: #6d8666 !important;
}

/* line 192, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#tituloEbooks,
#tituloInicio {
  display: block;
  text-align: center;
  margin: auto;
  padding: 20px 10px 5px 10px;
  color: #6d8666 !important;
}

/* line 198, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.sobreEbooks,
.sobreNutricioso {
  display: block;
  padding: 20px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

/* line 206, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.parrafoEbooks,
.parrafoInicio {
  border: dotted #6d8666 !important;
  border-radius: 70px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 25px;
  text-align: center;
}

/* line 219, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.parrafoInicio:hover {
  border: dotted #dd991c !important;
  border-radius: 70px;
}

/* line 224, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#todosEbooks {
  margin: 10px 10px 30px 10px;
  padding: 10px;
}

/* line 228, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.card-title {
  color: #6d8666 !important;
}

/* line 232, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.slide {
  margin-top: 10px;
}

/* line 235, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.slide img {
  height: 65vh;
  object-fit: cover;
}

/* line 242, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#h4Centrado,
#tituloEbooks,
#tituloInicio {
  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=estilos.css.map */