/* line 15, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 22, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
body {
  background-color: #f7f2dd !important;
}

/* line 27, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
section nav {
  background-color: #f7f2dd !important;
}

/* line 30, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
section nav div {
  margin: auto;
  padding: auto;
}

/* line 35, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
section nav img {
  border-radius: 90px;
}

/* line 41, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.btn-outline-success {
  color: black !important;
  font-family: "Montserrat", sans-serif;
}

/* line 47, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.btn-outline-success:hover {
  background-color: #6d8666 !important;
}

/* line 51, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.nav-link {
  color: #6d8666 !important;
  font-size: 20px !important;
  font-family: "Montserrat", sans-serif;
}

/* line 57, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.form-control {
  border: dotted #6d8666 !important;
  background-color: #f7f2dd !important;
}

/* line 62, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#sobreMi,
#nuestrasRecetas {
  padding: 30px 60px 30px 60px;
  font-family: "Montserrat", sans-serif !important;
}

/* line 68, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
h3 {
  text-align: center;
  color: #6d8666;
  font-family: "Montserrat", sans-serif;
}

/* line 74, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: auto;
}

/* line 82, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
input[type=text] {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px dashed #6d8666;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

/* line 85, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
select {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px dashed #6d8666;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

/* line 88, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
textarea {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px dashed #6d8666;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

/* line 93, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
input[type=submit] {
  border-radius: 10px;
  border: 1px solid #6d8666;
  font-size: 15px;
  background: #d5e8d4;
  width: 100%;
  height: 40px;
}

/* line 103, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
input[type=submit]:hover {
  background-color: #465f47;
}

/* line 107, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#formulario {
  border-radius: 5px;
  background-color: #d5e8d4;
  padding: 20px;
  margin: auto;
}

/* line 114, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer {
  display: flex;
  padding: 10px;
  background-color: #adc9ae;
}

/* line 119, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer ul {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-basis: 20%;
  text-decoration: none;
}

/* line 127, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer p {
  flex-basis: 80%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/* line 133, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer li {
  flex-grow: 1;
}

/* line 137, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footer a {
  color: darkslategrey;
  font-size: 20px;
}

/* line 142, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
footerhover {
  color: #465f47;
}

/* line 148, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
select option {
  background-color: #6d8666 !important;
  color: white;
}

/* line 154, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
select:hover {
  color: white;
  background: #465f47;
}

/* line 159, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.logo:hover {
  height: 120px;
  width: auto;
}

/* line 164, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#img__logo {
  display: block;
  margin: auto;
}

/* line 171, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
h4 i {
  color: #6aa46c;
}

/* line 178, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#h4Centrado {
  display: block;
  text-align: center;
  margin: auto;
  padding: 20px 10px 5px 10px;
}

/* line 185, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.slide {
  margin-top: 10px;
}

/* line 188, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
.slide img {
  height: 65vh;
  object-fit: cover;
}

/* line 195, ../../PreEntrega3-Popielarczyk/PreEntrega3-Popielarczyk/scss/estilos.scss */
#h4Centrado {
  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) 3s both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) 3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-29 22:0:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=estilos.css.map */