@import 'variables';

@mixin formulario-texto {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px dashed $color-secundario;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical
}

@mixin titulos {
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px 10px 5px 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $color-primario !important;
}

section {
    nav {
        background-color: $color-primario !important;

        div {
            margin: auto;
            padding: auto;
        }

        img {
            border-radius: 90px;
        }
    }
}

.btn-outline-success {
    color: black !important;
    font-family: $tipografia-general;

}

.btn-outline-success:hover {
    background-color: $color-secundario !important;
    color: white !important;
}

.nav-link {
    color: $color-secundario !important;
    font-size: 20px !important;
    font-family: $tipografia-general;
}

.form-control {
    border: dotted $color-secundario !important;
    background-color: $color-primario !important;
}

#sobreMi,
#nuestrasRecetas {
    padding: 30px 60px 30px 60px;
    font-family: $tipografia-general !important;
}

h3 {
    text-align: center;
    color: $color-secundario;
    font-family: $tipografia-general;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: auto;

}

input[type=text] {
    @include formulario-texto;
}

select {
    @include formulario-texto;
}

textarea {
    @include formulario-texto;
}


input[type=submit] {
    border-radius: 10px;
    border: 1px solid $color-secundario;
    font-size: 15px;
    background: rgb(213, 232, 212);
    width: 100%;
    height: 40px;

}

input[type=submit]:hover {
    background-color: #465f47;
}

#formulario {
    border-radius: 5px;
    background-color: rgb(213, 232, 212);
    padding: 20px;
    margin: auto;
}

footer {
    display: flex;
    padding: 10px;
    background-color: #adc9ae;

    ul {
        display: flex;
        gap: 10px;
        list-style: none;
        flex-basis: 20%;
        text-decoration: none;
    }

    p {
        flex-basis: 80%;
        font-size: 16px;
        font-family: $tipografia-general;
    }

    li {
        flex-grow: 1;
    }

    a {
        color: darkslategrey;
        font-size: 20px;
    }

    &hover {
        color: #465f47
    }
}


select option {
    background-color: $color-secundario !important;
    color: white;

}

select:hover {
    color: white;
    background: #465f47;
}

.logo:hover {
    height: 120px;
    width: auto;
}

#img__logo {
    display: block;
    margin: auto;

}

.ebookHover:hover {
    width: 300px !important;
}


#h1Centrado {
    @include titulos;
    color: $color-secundario !important;
}

#tituloEbooks,
#tituloInicio {
    @include titulos;
    color: $color-secundario !important;
}

.sobreEbooks,
.sobreNutricioso {
    display: block;
    padding: 20px;
    margin: 20px;
    font-family: $tipografia-general;
}

.parrafoEbooks,
.parrafoInicio {
    border: dotted $color-secundario !important;
    border-radius: 70px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 25px;
    text-align: center;

}
.parrafoInicio:hover{
    border: dotted rgb(221, 153, 28) !important;
    border-radius: 70px;
    }

#todosEbooks {
    margin: 10px 10px 30px 10px;
    padding: 10px;
}
.card-title{
    color: $color-secundario !important;
}

.slide {
    margin-top: 10px;

    img {
        height: 65vh;
        object-fit: cover;
    }
}


#h1Centrado,
#tituloEbooks,
#tituloInicio {
    -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
    animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}